<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, commodi ab
      sequi, excepturi vitae pariatur iure neque eum dolorem magni odio,
      laboriosam esse debitis modi dolorum corporis? Neque, facilis fuga.
    </p>
  </body>
</html>
